@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* base rule  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
html{
   font-size: 62.5%;
   scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6
{
    font-family: "Poppins",sans-serif;
}
/*theme*/
:root{
    --main-color:#2fdef9;
    --supporting-color:#f2fa09;
    --font-color:#424242;
    --bg-color:#f7fcff;
    --heading-color:#000a19;
    --para-color:rgb(46, 46, 46);
    --white-color:white;
    --h-color:#003b99;
    --btn-hover-bg-color:#003b99;
    --btn-box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
    --footer-bg-color:#040d12;
    --hover-color:rgb(4, 118, 122);
}

/* layout */
.container
{
   max-width:108rem;
   margin:auto;
   padding: 9.6rem 2.4rem;
}

p,li,a,label,span{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color:var(--para-color);
    line-height: 1.5;
    font-family: "Poppins";
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.grid{
    display: grid;
}
.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}
.grid-three--cols{
    grid-template-columns: repeat(3,1fr);
}

/*reusable*/

/*states*/
.navbar-right--side a:hover
{
    border-radius: 0.5rem;
    
    color: rgb(255, 255, 255);
}
.hero-para:hover{
    color:white;
}



/* Navigation Bar Start */
.section-navbar
{
   width:100%;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}
.section-navbar .container{
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem 1rem 2rem;
    align-items: center;
}
.navbar-right--side ul{
    display: flex;
    justify-content: space-evenly;
    gap:1rem;
}

.navbar-right--side a{
    display: inline-block;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.navbar-left--side a{
    color:#023f71;
}
/* Navigation Bar Ends */

.toggle {
    display:flex;
    gap:3px;
    align-items:center;
}
.toggle .capsule
{
    width:60px;
    background-color:rgb(22, 22, 22);
    display:flex;
    justify-content:start;
    padding:1px;
    border-radius:15px;
    align-items:center;
}
.toggle .circle
{
    border-radius:50%;
    background-color:#50ffe2;
    width:20px;
    height:20px;
}
.toggle .text 
{
    font-size: 1.5rem;
    font-weight: 400;
}

/* Hero Section starts*/
main
{
    background-image: linear-gradient(225deg,#2f86ab 20%,#63faa7);
    position: relative;
    top:-8rem;
    z-index: -1;
    background-attachment: fixed;
    object-fit: cover;
}


.section-hero--image{
    display: flex;
    justify-content: end;
    margin-top: 17rem;
}
.grid-two--cols img{
    width: 35rem;
    height: 35rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    filter: brightness(0.7);
}

.section-hero--content{
    margin-top: 15rem;
    
}
.hero-subheading{
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
}

.hero-para{
    text-align: justify;
    color: rgb(32, 32, 32);
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    padding: 3rem;
    backdrop-filter: blur(5px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the effect */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /*box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;*/
    font-size: 1.4rem;
    
}
.section-hero--content .hero-heading span{
    color: transparent;
    letter-spacing: 0.4rem;
    font-size: 4rem;
    position: relative;
    margin-bottom: 5rem;
    font-weight: 800;
    overflow: hidden;
    display: inline-block;
}
.section-hero--content .hero-heading span:after
{
    content:"ANURAG TIWARI";
    background: linear-gradient(270deg, #000000FC 0%, #3b3b3b 50%, #000000 100%);
    background-clip: text;
    position: absolute;
    overflow: hidden;
    animation-name: myname;
    animation-duration: 3s;
    animation-timing-function: linear;
    top:0;
    left:0;
    white-space: nowrap;
    font-family: "Poppins";
}

@keyframes myname
{
    0%{
        width: 0%;
    }
    100%{
    width: 100%;
    }
}


/* Hero section ends*/

/* Education Section Starts*/

.section-education{
    background-image:  
    url('education-school-pattern-design_260839-1.avif');
    opacity: 0.9;
    margin-top: -8rem;
    background-attachment: fixed;
    position: relative;
}
.custom-shape-divider-bottom-1716958659 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716958659 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
}

.custom-shape-divider-bottom-1716958659 .shape-fill {
    fill: #4392b3;
}

.container-edu {
    position: relative;
    margin-bottom: 15rem;
}

.container-edu::after {
    content: '';
    position: absolute;
    width: 2rem;
    background-color: rgb(0, 170, 255);
    top: 0;
    bottom: 0;
    left: 3rem;
    margin-left: -3px;
    border-radius: 1rem;
}
.edu-div {
    position: relative;
    margin-left: 6rem;
    margin-top: 10rem;
}

.edu-div::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: -4rem;
    background-color: white;
    border: 4px solid #04b353;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.edu-div{
    background-color: #006d45;
    padding:2rem 4rem;
    border-radius: 1.5rem;
    width: 80%;
}

.common-heading--edu{
    color: #eff0f0;
    margin-bottom: 1rem;
}

.common-para--edu{
    color:rgb(216, 216, 216);
}

.section-education .container .main-heading{
    font-size: 4rem;
    word-spacing: 2rem;
    font-weight: 700;
    color:var(--heading-color);
}
.container-main{
    padding:3.6rem 2.4rem 0 2.4rem;
}
/* Education Section ends*/

/*Skill Section Starts */

.section-skill{
    background-color: #559dba;
}

.section-skill .container-main
{
    font-size: 4rem;
    word-spacing: 2rem;
    font-weight: 700;
    color:rgb(245, 245, 212);

}

.skills-div i{
    font-size: 3rem;
    background-color:  #1e1e1e;
    border-radius:50%;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    margin-bottom: 2rem;
}
.skill-common--heading{
    color: var(--heading-color);
    margin-bottom: 1rem;
    font-size: 2rem;
}
.skill-common--para{
    font-size: 1.4rem;
    color:#040d12
}

.skills-div{
    background-color: antiquewhite;
    padding: 2rem 4rem;
    border-radius:0.5rem;
    transition: all 0.2s;
}

.section-skill .grid{
    gap:6rem;
}

.skills-div:hover{
   scale:1.05;
}


/*Skill section ends */

/* Project Section Starts */

.section-project
{
    background-color: #04b353;
    height: 30rem;
    text-align: center;
    padding-top: 10rem;
    font-size: 3rem;
    font-weight: 900;
    color: bisque;

    & span{
        font-size: 4rem;
        margin-bottom:4rem;
    }
}

/* Project Section Ends */

/* Contact Section Starts */


.contact-form{
    width: 60%;
    margin: 0 auto;
    box-shadow:rgba(60,64,67,0.3) 0px 1px 2px 0px, rgba(60,64,67,0.15) 0px 2px 6px 2px;
    border-radius:0.5rem;
    background-color: rgb(235, 235, 222);
    padding:2rem 5rem;
    
}
.mb-3{
    margin-bottom: 3.2rem;
}

label{
    text-transform: capitalize;
}

input{
    width:90%;
    padding:1.4rem 2.4rem;
}

.contact-form .contact-heading{
    text-align: center;
    font-size:2rem;
    color: var(--heading-color);
}

.section-contact .container{
    padding:5rem 2.4rem;
}

/* Contact Section ends */

/* Footer Section Starts*/

.section-footer{
    background-color: var(--footer-bg-color);
    display: flex;
    justify-content: center;
    align-items: end;
    height: 40rem;
    position: relative;
    margin-top: -25rem;
    z-index: -1;
}

.footer-icons i{
    background-color: whitesmoke;
    margin-bottom: 4rem;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
/* Footer Section Ends*/


/* Responsive  starts*/

@media (width<=875px)
{
   .grid-two--cols img{
    width:30rem;
    height: 30rem;
    html{
        font-size: 56.25%;
    }
   }
}
@media (width<=835px){

    html{
        font-size: 56.25%;
    }
    
    .grid-two--cols img{
     width:30rem;
     height: 30rem;
    }

 }

 @media (width<=773px)
 {
    html{
        font-size: 56.25%;
    }
    .grid-three--cols{
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    }
 }

 @media(width<=752px)
 {
    html{
        font-size: 56.25%;
    }
    .grid-two--cols{
        grid-template-columns: repeat(1,1fr);
    }

    .grid-two--cols .section-hero--image{
        order:1;
        
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        
    }
    .grid-two--cols .section-hero--content{
        order:2;
        margin-top: 3rem;

        & .hero-heading{
            text-align: center;
        }

        & .hero-subheading{
            text-align: center;
        }
        
    }


    .section-navbar .container
    {
        flex-direction: column;
        margin-top: -2rem;

        & .navbar-right--side{
            margin-top:1rem;
            margin-bottom:1rem;
        }
        & .navbar-left--side{
            margin-top:1rem;
        }
    }

    .contact-form .contact-heading{
        margin-bottom: 2rem;
    }
 }
 @media (width<450px){
    html{
        font-size: 50%;
    }
 }
 @media (width<390px){
    html{
        font-size: 43%;
    }
 }


 /* THEME CHANGE */

 /* TOGGLE BUTTON Start */

 .active .toggle{
    display:flex;
    gap:3px;
    align-items:center;
}
.active .toggle .capsule
{
    width:60px;
    background-color:white;
    display:flex;
    justify-content:end;
    padding:1px;
    border-radius:15px;
    align-items:center;
   /* background-image: url("https://www.pixelstalk.net/wp-content/uploads/2016/05/Batman-Logo-Wallpaper-Full-Download.jpg");*/
}
.active .toggle .circle
{
    border-radius:50%;
    background-color: rgb(0, 0, 0);
    width:20px;
    height:20px;
}
.active .toggle .text 
{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

/* TOGGLE BUTTON END */

/* Navigation Bar Start */
.active .section-navbar
{
   width:100%;
   box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 4px;
   background-color: #000000;
}
.section-navbar .container{
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem 1rem 2rem;
    align-items: center;
}
.navbar-right--side ul{
    display: flex;
    justify-content: space-evenly;
    gap:1rem;
}

.active .navbar-right--side a{
    display: inline-block;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(215, 215, 215);
}
.active .navbar-left--side a{
    color:#a19e9e;
}
.active .navbar-right--side a:hover
{
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.15);
    color: white;
}
/* Navigation Bar Ends */

/* Hero Section starts*/
.active main
{
    background-image: url("https://images.hdqwalls.com/download/batman-dark-4k-4s-1920x1080.jpg");
    position: relative;
    top:-8rem;
    z-index: -1;
    background-attachment: fixed;
    background-size: contain;
   /* background-position: center;*/
    background-repeat: no-repeat;
    background-color: #000000;
    
}


.section-hero--image{
    display: flex;
    justify-content: end;
    margin-top: 17rem;
}
.active .grid-two--cols img{
    width: 35rem;
    height: 35rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    filter: brightness(1.1);
    border: 2px solid rgb(255, 255, 255);
}

.section-hero--content{
    margin-top: 15rem;
    
}
.hero-subheading
{
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
   /* text-align:*/
}

.active .hero-para{
    text-align: justify;
    color: rgb(239, 237, 237);
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    padding: 3rem;
    backdrop-filter: blur(5px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the effect */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /*box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;*/
    font-size: 1.4rem;
    
}
.section-hero--content .hero-heading span{
    color: transparent;
    letter-spacing: 0.4rem;
    font-size: 4rem;
    position: relative;
    margin-bottom: 5rem;
    font-weight: 800;
    overflow: hidden;
    display: inline-block;
}
.active .section-hero--content .hero-heading span:after
{
    content:"ANURAG TIWARI";
    background: linear-gradient(270deg, #fffffffc 0%, #646363 50%, #ffffff 100%);
    background-clip: text;
    position: absolute;
    overflow: hidden;
    animation-name: myname;
    animation-duration: 3s;
    animation-timing-function: linear;
    top:0;
    left:0;
    white-space: nowrap;
    font-family: "Poppins";
    
}

@keyframes myname
{
    0%{
        width: 0%;
    }
    100%{
    width: 100%;
    }
}


/* Hero section ends*/

/* Education Section Starts*/

.active .section-education{
    background-image:  
    url('https://wallpapercave.com/wp/wp7264241.jpg');
    opacity: 0.9;
    margin-top: -8rem;
    background-attachment: fixed;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /*width: 100%;
    height: 100%;*/
    background-color: #000000;

}
.custom-shape-divider-bottom-1716958659 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716958659 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
}

.active .custom-shape-divider-bottom-1716958659 .shape-fill {
    fill: #000000;
}

.container-edu {
    position: relative;
    margin-bottom: 15rem;
}

.active .container-edu::after {
    content: '';
    position: absolute;
    width: 2rem;
    background-color: rgb(222, 222, 222);
    top: 0;
    bottom: 0;
    left: 3rem;
    margin-left: -3px;
    border-radius: 1rem;
}
.edu-div {
    position: relative;
    margin-left: 6rem;
    margin-top: 10rem;
}

.active .edu-div::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: -4rem;
    background-color: rgb(0, 0, 0);
    border: 4px solid #191919;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.active .edu-div{
    background-color: #111111;
    padding:2rem 4rem;
    border-radius: 1.5rem;
    width: 80%;
}

.common-heading--edu{
    color: #eff0f0;
    margin-bottom: 1rem;
}

.common-para--edu{
    color:rgb(216, 216, 216);
}

.section-education .container .main-heading{
    font-size: 4rem;
    word-spacing: 2rem;
    font-weight: 700;
    color:var(--bg-color);
}
.container-main{
    padding:3.6rem 2.4rem 0 2.4rem;
}

/* EDUCATION SECTION ENDS */

/*Skill Section Starts */

.active .section-skill{
    background-color: #191919;
}

.section-skill .container-main
{
    font-size: 4rem;
    word-spacing: 2rem;
    font-weight: 700;
    color:rgb(245, 245, 212);

}

.skills-div i{
    font-size: 3rem;
    background-color:  #1e1e1e;
    border-radius:50%;
    height: 6rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    margin-bottom: 2rem;
}
.skill-common--heading{
    color: var(--heading-color);
    margin-bottom: 1rem;
    font-size: 2rem;
}
.skill-common--para{
    font-size: 1.4rem;
    color:#040d12
}

.skills-div{
    background-color: antiquewhite;
    padding: 2rem 4rem;
    border-radius:0.5rem;
    transition: all 0.2s;
}

.section-skill .grid{
    gap:6rem;
}

.skills-div:hover{
   scale:1.05;
}


/*Skill section ends */

/* Project Section Starts */

.active .section-project
{
    background-color: #000000;
    height: 30rem;
    text-align: center;
    padding-top: 10rem;
    font-size: 3rem;
    font-weight: 900;
    color: bisque;

    & span{
        font-size: 4rem;
        margin-bottom:4rem;
        color: #787777;
    }
}

/* Project Section Ends */

/* Contact Section Starts */


.contact-form{
    width: 60%;
    margin: 0 auto;
    box-shadow:rgba(60,64,67,0.3) 0px 1px 2px 0px, rgba(60,64,67,0.15) 0px 2px 6px 2px;
    border-radius:0.5rem;
    background-color: rgb(235, 235, 222);
    padding:2rem 5rem;
    
}
.mb-3{
    margin-bottom: 3.2rem;
}

label{
    text-transform: capitalize;
}

input{
    width:90%;
    padding:1.4rem 2.4rem;
}

.contact-form .contact-heading{
    text-align: center;
    font-size:2rem;
    color: var(--heading-color);
}

.section-contact .container{
    padding:5rem 2.4rem;
}

.active .section-contact{
    background-color: #000000;
}
  /*  background-image: url("https://www.nawpic.com/media/2020/batman-nawpic-1-scaled.jpg");
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;   */

/* Contact Section ends */
/* Footer Section Starts*/

.active .section-footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50rem;
    position: relative;
    margin-top: 0;
    /*z-index: -1;*/
    background-image: url("https://wallpaper.dog/large/20539390.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}

.footer-icons i{
    background-color: whitesmoke;
    margin-bottom: 4rem;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
/* Footer Section Ends*/

