@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* base rule  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
html{
   font-size: 62.5%;
   scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6
{
    font-family: "Poppins",sans-serif;
}
/*theme*/
:root{
    --main-color:#2fdef9;
    --supporting-color:#f2fa09;
    --font-color:#424242;
    --bg-color:#f7fcff;
    --heading-color:#000a19;
    --para-color:rgb(46, 46, 46);
    --white-color:white;
    --h-color:#003b99;
    --btn-hover-bg-color:#003b99;
    --btn-box-shadow:rgba(100,100,111,0.2) 0px 7px 29px 0px;
    --footer-bg-color:#040d12;
    --hover-color:rgb(4, 118, 122);
}

/* layout */
.container
{
   max-width:108rem;
   margin:auto;
   padding: 9.6rem 2.4rem;
}

p,li,a,label,span{
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: 500;
    color:var(--para-color);
    line-height: 1.5;
    font-family: "Poppins";
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.grid{
    display: grid;
}
.grid-two--cols{
    grid-template-columns: repeat(2,1fr);
}

/*reusable*/

/*states*/
.navbar-right--side a:hover
{
    border-radius: 0.5rem;
    
    color: rgb(255, 255, 255);
}
.hero-para:hover{
    color:white;
}



/* Navigation Bar Start */
.section-navbar
{
   width:100%;
   box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 4px;
}
.section-navbar .container{
    display: flex;
    justify-content: space-between;
    padding:1rem 2rem 1rem 2rem;
    align-items: center;
}
.navbar-right--side ul{
    display: flex;
    justify-content: space-evenly;
    gap:1rem;
}

.navbar-right--side a{
    display: inline-block;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 600;
}
.navbar-left--side a{
    color:#023f71;
}
/* Navigation Bar Ends */

/* Hero Section starts*/
main
{
    background-image: linear-gradient(225deg,#2f86ab 20%,#63faa7);
    position: relative;
    top:-8rem;
    z-index: -1;
    background-attachment: fixed;
}


.section-hero--image{
    display: flex;
    justify-content: end;
    margin-top: 17rem;
}
.grid-two--cols img{
    width: 35rem;
    height: 35rem;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    filter: brightness(0.7);
}

.section-hero--content{
    margin-top: 15rem;
    
}
.hero-subheading{
    font-weight: 600;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
}

.hero-para{
    text-align: justify;
    color: rgb(32, 32, 32);
    background: rgba(255, 255, 255, 0.15); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    padding: 3rem;
    backdrop-filter: blur(5px); /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.3); /* Border to enhance the effect */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /*box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;*/
    
}
.section-hero--content .hero-heading{
    color: transparent;
    letter-spacing: 0.4rem;
    font-size: 4rem;
    position: relative;
    margin-bottom: 5rem;
    font-weight: 800;
}
.section-hero--content .hero-heading:after
{
    content:"ANURAG TIWARI";
    background: linear-gradient(270deg, #000000FC 0%, #3b3b3b 50%, #000000 100%);
    background-clip: text;
    position: absolute;
    overflow: hidden;
    animation-name: myname;
    animation-duration: 3s;
    animation-timing-function: linear;
    top:0;
    left:0;
    white-space: nowrap;
    font-family: "Poppins";
}

@keyframes myname
{
    0%{
        width: 0%;
    }
    100%{
    width: 100%;
    }
}


/* Hero section ends*/

/* Education Section Starts*/

.section-education{
    background-image:  
    url('education-school-pattern-design_260839-1.avif');
    opacity: 0.9;
    margin-top: -8rem;
    background-attachment: fixed;
    position: relative;
}
.custom-shape-divider-bottom-1716958659 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1716958659 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 112px;
}

.custom-shape-divider-bottom-1716958659 .shape-fill {
    fill: #4392b3;
}

.container-edu {
    position: relative;
    margin-bottom: 15rem;
}

.container-edu::after {
    content: '';
    position: absolute;
    width: 2rem;
    background-color: rgb(0, 170, 255);
    top: 0;
    bottom: 0;
    left: 3rem;
    margin-left: -3px;
    border-radius: 1rem;
}
.edu-div {
    position: relative;
    margin-left: 6rem;
    margin-top: 10rem;
}

.edu-div::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    left: -4rem;
    background-color: white;
    border: 4px solid #04b353;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.edu-div{
    background-color: #006d45;
    padding:2rem 4rem;
    border-radius: 1.5rem;
    width: 80%;
}

.common-heading--edu{
    color: #eff0f0;
    margin-bottom: 1rem;
}

.common-para--edu{
    color:rgb(216, 216, 216);
}

.section-education .container .main-heading{
    font-size: 4rem;
    word-spacing: 2rem;
    font-weight: 700;
    color:var(--heading-color);
}
.section-education .container-main{
    padding:3.6rem 2.4rem 0 2.4rem;
}
/* Education Section ends*/

/*Skill Section Starts */

.section-skill{
    background-color: #559dba;
    height: 100vh;
}

/*Skill section ends */
